<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>home work</title>
        <link rel="stylesheet" href="/css/semantic/semantic.min.css">
        <link rel="stylesheet" href="css/stylesheet.css">
    </head>
    <body>
        <div class="ui olive eight item inverted menu">
            <a href="/" class="active item">Home</a>
                <a href="/Biotechnologie" class="item">Biotechnologie</a>
                <a href="/Protection-des-veg" class="item">Protection des végétaux</a>
                <a href="/productionveg" class="item">Production Végétale</a>
                <a href="/aboutUs"class="item">A propos de nous</a>
                <a href="/contactUs"class="item">Nous contacter</a>
                <a href="/Compte" class="item">Compte</a>
                <a href="/admin" class="active item">Admin</a>
          </div>
        
          <!-- <div class="sytle">
            <div class="ui visible sidebar">
                <div>
                    <h1 class="ui icon header">
                      <img src="/img/logo_small.png">
                        <div class="sub header">Toute une communauté pour une passion.</div>
                    </h1>
                  </div>
                  <div class="ui category search">
                    <div class="ui icon input">
                      <input class="prompt" type="text" placeholder="Search animals...">
                      <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                  </div>

            </div> -->

             <!-- <div class="ui black inverted segment">
                <h3 class="ui right floated header">
                    <h1 class="ui icon header">
                        <img src="/img/logo_small.png">
                          <div class="sub header">Toute une communauté pour une passion.</div>
                      </h1>
                    </h3>
                <div class="ui left floated header ">
                    <h3 class="ui category search">
                        <div class="ui icon input">
                          <input class="prompt" type="text" placeholder="Search animals...">
                          <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </h3>
                </div>
              </div> --> 


  
         