
        
<%- include('./includes/header.ejs') %>
    <div class="fist_video">
        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/umCCw8IZg6g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
    </div>
    <div>
        <h3>C'est un monde- l'Agriculture de demain : un voyage au coeur de l'agriculture </h3>
    </div>
    </div>


    <h1>Articles</h1>
        <P>article les plus récente
        </P>
        <div class="photo">
            <div>
                <img src="/img/20150630_140752.jpg"/>
            </div>
            <div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore eveniet itaque eligendi dolorem deserunt harum, possimus voluptatem numquam beatae quam unde ratione quisquam ipsam dicta fugit temporibus dignissimos ipsum incidunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda earum quo doloribus, modi officiis tempore impedit distinctio nam perspiciatis eius ducimus? Blanditiis ducimus voluptate alias architecto non dolore placeat eligendi.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore eveniet itaque eligendi dolorem deserunt harum, possimus voluptatem numquam beatae quam unde ratione quisquam ipsam dicta fugit temporibus dignissimos ipsum incidunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda earum quo doloribus, modi officiis tempore impedit distinctio nam perspiciatis eius ducimus? Blanditiis ducimus voluptate alias architecto non dolore placeat eligendi.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore eveniet itaque eligendi dolorem deserunt harum, possimus voluptatem numquam beatae quam unde ratione quisquam ipsam dicta fugit temporibus dignissimos ipsum incidunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda earum quo doloribus, modi officiis tempore impedit distinctio nam perspiciatis eius ducimus? Blanditiis ducimus voluptate alias architecto non dolore placeat eligendi.</p>
            </div>
        </div>
<%- include('./includes/footer.ejs') %>
