<%- include('../includes/header.ejs') %>
    <diV class="size">
            <div class="background">
                <p>Stand4Agric</p>
            </div>
            <div>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex corporis, suscipit quasi ullam dolores pariatur vitae, eius saepe quidem vero neque est amet totam dignissimos porro enim, consequatur perferendis exercitationem.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita vitae, accusamus rem voluptas et iure cumque ullam praesentium dignissimos quaerat voluptatem vel, assumenda explicabo, dicta perferendis non saepe maxime dolorum.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa numquam, consequuntur molestias atque commodi doloremque obcaecati laboriosam, in quae quas consequatur dolores dignissimos, quam maxime libero rerum cum est officiis.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, reiciendis. Consectetur quidem recusandae minus eveniet fugiat dicta placeat ratione doloremque deleniti. Cupiditate saepe officiis natus? Ea fuga provident laboriosam doloribus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis minus eaque culpa illum asperiores fugiat deserunt vitae odio tenetur sed! Numquam dolorem eveniet ab facilis, saepe veritatis. Autem, repudiandae nobis?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat praesentium architecto qui eaque aliquam sequi labore eum alias, nobis minima. Aut ipsum eaque cum provident corrupti et sit vero hic?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quibusdam eos vel ratione quam facilis sint quos corporis, dolores quisquam aut architecto atque at aliquid numquam! Architecto fuga libero obcaecati!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio sed facilis consectetur placeat? Fuga doloribus magnam pariatur libero. Accusantium aliquam praesentium voluptatum explicabo nesciunt aperiam, autem eligendi obcaecati. Fugiat, incidunt.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sunt cupiditate a excepturi exercitationem consectetur vitae nihil, quae optio. Ducimus beatae eaque nisi illo aliquid autem reiciendis saepe quasi soluta!
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, facilis debitis porro cumque maxime natus vel ratione, similique perferendis, modi asperiores officiis enim. Nihil porro molestias vitae aliquam officiis sed?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia minus ipsa optio quos eveniet nostrum sunt excepturi, reprehenderit modi, totam suscipit earum porro vel nemo! Molestiae alias enim architecto labore?
                </P>
            </div>
    </diV>
<%- include('../includes/footer.ejs') %>
