<%- include('../includes/header.ejs') %>
    <div>
        <h2>Call us</h3>
        <p>0805 088888 (no charge)</p>
        <a href="https://www.acce-o.fr/client/hm"> Help for the hearing impaired is available here</a> 
        <h3>Business hours</h3>
        <h4>Téléphone</h6>
        <p>Monday - Friday: 8am - 9pm</p>
        <p>Saturday: 9am - 10pm</p>
        <p>Sunday: 9am - 5pm</p>
        <h4>Holidays</h6>
        <p>9am - 6am</p>
        <h2>JOIN US ON SOCIAL NETWORKS</h3>
        <div>
            <a href="https://www.facebook.com/francehm/?brand_redir=21415640912"><img src="img/facebook.jpg"/></a>
            <a href="https://twitter.com/hm_custserv"><img src="img/nouveau-logo-twitter.jpg"/></a>
            <a href="https://www.instagram.com/hm/"><img src="img/174855.png"/></a>
        </div> 
        <a href="/writeUs"> You can also write to us by clicking here</a> 
    </div>
    
<%- include('../includes/footer.ejs') %>
