<%- include('../../includes/header.ejs') %>
<div>
    <p>je suis dans admin</p>
</div>
<br>
<div>
    <a href="/admin/add_article">
        <button type="submit" class="ui blue labeled submit icon button">ajouter un article</button>
    </a>    
</div>
<br>
<div>
    <a href="/admin/all_Articles">
        <button type="submit" class="ui blue labeled submit icon button">show all articles</button>
    </a>
</div>
<%- include('../../includes/footer.ejs') %>